Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

micro adjustments
  popup/css/options.css
  popup/css/style.css
Due: format-files

Bigger bookmark edit textareas (#295)
  CHANGELOG.md
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/options.html
Due: format-files

Improve footer design
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/index.html
  popup/options.html
  popup/tags.html
Due: format-files

Remove headers from tags, folders, options and bookmark edit, as it's clear from context
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/editBookmark.html
  popup/folders.html
  popup/options.html
  popup/tags.html
Due: format-files

Add changelog entries
  CHANGELOG.md
Due: none

Increasing popup width to 515px
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/index.html
Due: format-files

Small box-shadow on non active nav-items
  popup/css/style.css
Due: format-files

Add changelog entry
  CHANGELOG.md
Due: none

Improve footer style (#296)
  CHANGELOG.md
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/index.html
  popup/options.html
  popup/tags.html
Due: format-files

CSS cleanup and reorganization
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
Due: format-files

Renaming of CSS classes and IDs to be shorter and consistent
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/index.html
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/__tests__/initFolders.test.js
  popup/js/__tests__/initSearch.test.js
  popup/js/__tests__/initTags.test.js
  popup/js/__tests__/integration.test.js
  popup/js/__tests__/performance.test.js
  popup/js/initEditBookmark.js
  popup/js/initFolders.js
  popup/js/initSearch.js
  popup/js/initTags.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/editOptionsView.js
  popup/js/view/errorView.js
  popup/js/view/searchEvents.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Fixing title wrap issues
  popup/css/style.css
Due: format-files

Tagify CSS loading order fixed
  popup/editBookmark.html
Due: format-files

Fix E2E tests
  playwright/tests/editBookmark.spec.js
  playwright/tests/fixtures.js
  playwright/tests/folders.spec.js
  playwright/tests/options.spec.js
  playwright/tests/performance.spec.js
  playwright/tests/recentTabs.spec.js
  playwright/tests/search.spec.js
  playwright/tests/tags.spec.js
Due: lint-js

CSS cleanup and reorganization (#297)
  playwright/tests/editBookmark.spec.js
  playwright/tests/fixtures.js
  playwright/tests/folders.spec.js
  playwright/tests/options.spec.js
  playwright/tests/performance.spec.js
  playwright/tests/recentTabs.spec.js
  playwright/tests/search.spec.js
  playwright/tests/tags.spec.js
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/index.html
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/__tests__/initFolders.test.js
  popup/js/__tests__/initSearch.test.js
  popup/js/__tests__/initTags.test.js
  popup/js/__tests__/integration.test.js
  popup/js/__tests__/performance.test.js
  popup/js/initEditBookmark.js
  popup/js/initFolders.js
  popup/js/initSearch.js
  popup/js/initTags.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/editOptionsView.js
  popup/js/view/errorView.js
  popup/js/view/searchEvents.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Minor CSS and HTML improvements
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/editBookmark.html
  popup/folders.html
  popup/index.html
  popup/options.html
  popup/tags.html
Due: format-files

Defer tagify and js-yaml js script element
  popup/editBookmark.html
  popup/options.html
Due: format-files

Fixing createDist script to properly switch to the .min and .bundle variants in all cases
  bin/createDist.js
Due: lint-js

Minor CSS and HTML improvements (#298)
  bin/createDist.js
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/editBookmark.html
  popup/folders.html
  popup/index.html
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Add tab group support and new tab group permission
  CHANGELOG.md
  CLAUDE.md
  OPTIONS.md
  README.md
  manifest.json
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/model/searchData.js
  popup/js/search/common.js
  popup/js/search/queryParser.js
  popup/js/search/scoring.js
  popup/js/search/taxonomySearch.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Don't add group attributes if no group title can be found
  popup/js/helper/browserApi.js
Due: lint-js

Add dedicated tab group taxonomy page
  bin/bundle.js
  bin/createDist.js
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/initGroups.js
  popup/js/search/taxonomySearch.js
  popup/js/view/groupsView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Add Tab Group dedicated Page #2
  CHANGELOG.md
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/view/foldersView.js
  popup/js/view/groupsView.js
  popup/js/view/tagsView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Fix alphabetical ordering of taxonomy pages
  popup/js/view/foldersView.js
  popup/js/view/groupsView.js
  popup/js/view/tagsView.js
Due: lint-js

Add sorting of tags, folders and tab groups alphabetically vs. by count
  CHANGELOG.md
  popup/css/style.css
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/js/view/foldersView.js
  popup/js/view/groupsView.js
  popup/js/view/tagsView.js
  popup/options.html
Due: lint-js, format-files

Making this release ready
  README.md
  popup/js/view/__tests__/tagsView.test.js
Due: lint-js

Address CodeRabbit PR feedback: Use encodeURIComponent for taxonomy fragments and refactor shared taxonomy logic into taxonomyViewHelper.js
  popup/js/view/__tests__/foldersView.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/__tests__/tagsView.test.js
  popup/js/view/foldersView.js
  popup/js/view/groupsView.js
  popup/js/view/searchView.js
  popup/js/view/tagsView.js
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

Refine taxonomy sort icons and ensure persistence via localStorage
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

Fix typo in Chrome permissions API check (chrome.permissions, not chrome.permission)
  popup/js/view/groupsView.js
Due: lint-js

Remove browser-specific language: make Tab Groups feature browser-neutral
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/view/groupsView.js
Due: lint-js

Tab Groups Support (#299)
  CHANGELOG.md
  CLAUDE.md
  OPTIONS.md
  README.md
  bin/bundle.js
  bin/createDist.js
  manifest.json
  popup/css/style.css
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/helper/browserApi.js
  popup/js/initGroups.js
  popup/js/model/options.js
  popup/js/model/searchData.js
  popup/js/search/common.js
  popup/js/search/queryParser.js
  popup/js/search/scoring.js
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/foldersView.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/__tests__/tagsView.test.js
  popup/js/view/foldersView.js
  popup/js/view/groupsView.js
  popup/js/view/searchView.js
  popup/js/view/tagsView.js
  popup/js/view/taxonomyViewHelper.js
  popup/options.html
Due: lint-js, format-files

Increase size of edit bookmark textareas and make them resizable
  popup/css/editBookmark.css
  popup/css/options.css
  popup/js/initEditBookmark.js
  popup/js/initFolders.js
  popup/js/initSearch.js
  popup/js/initTags.js
  popup/js/model/options.js
  popup/js/view/editOptionsView.js
Due: lint-js, format-files

doc: add changelog entry for resizable bookmark inputs
  CHANGELOG.md
Due: none

changelog++
  CHANGELOG.md
Due: none

Update popup/js/model/options.js
  popup/js/model/options.js
Due: lint-js

Remove unused options resize style
  popup/css/options.css
Due: format-files

Resizable bookmark edit textareas (#300)
  CHANGELOG.md
  popup/css/editBookmark.css
  popup/css/options.css
  popup/js/initEditBookmark.js
  popup/js/initFolders.js
  popup/js/initSearch.js
  popup/js/initTags.js
  popup/js/view/editOptionsView.js
Due: lint-js, format-files

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
