Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

docs: improve documentation consistency and clarity
  DOCUMENTATION_REVIEW_REPORT.md
  popup/js/model/searchData.js
  popup/js/search/scoring.js
Due: lint-js

chore: update build artifacts and dependencies
  manifest.json
  package-lock.json
Due: format-files

Minor config and readme adjustments
  .vscode/settings.json
  CHANGELOG.md
  README.md
Due: format-files

Minor config and readme adjustments (#263)
  .vscode/settings.json
  CHANGELOG.md
  README.md
Due: format-files

Optimize runtime performance with micro-optimizations
  PERFORMANCE_REVIEW.md
  biome.json
  lefthook.yml
  package-lock.json
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Update biome schema and fix lefthook configuration
  biome.json
  lefthook.yml
  package-lock.json
Due: format-files

Update biome schema and fix lefthook configuration (#264)
  biome.json
  lefthook.yml
  package-lock.json
Due: format-files

Add additional micro-optimizations for runtime performance
  PERFORMANCE_REVIEW.md
  popup/js/search/scoring.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js

Simplify highlighting by always using mark.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/searchEngines.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/searchEngines.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js

Review codebase for performance optimization (#265)
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/searchEngines.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/search/searchEngines.js
  popup/js/search/simpleSearch.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js

Fix hover selection issue on popup open
  popup/js/helper/extensionContext.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchEvents.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
Due: lint-js

Add changelog entry for hover selection fix
  CHANGELOG.md
Due: none

Review and suggest solution for issue (#267)
  CHANGELOG.md
  popup/js/helper/extensionContext.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchEvents.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
Due: lint-js

Run format after build
  package.json
Due: format-files

Don't do mark.js with source-tab badge
  popup/js/view/searchView.js
Due: lint-js

Adjust unit test
  popup/js/view/__tests__/searchView.test.js
Due: lint-js

Run format after build (#268)
  package.json
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Release v1.17.2
  CHANGELOG.md
  biome.json
  manifest.json
  package-lock.json
  package.json
Due: format-files

Add lefthook pre-commit check for no main branch commits
  lefthook.yml
Due: none

Add to changelog
  CHANGELOG.md
Due: none

Release/v1.17.2 (#270)
  CHANGELOG.md
  biome.json
  lefthook.yml
  manifest.json
  package-lock.json
  package.json
Due: format-files

docs: add OPTIONS.md and update README/AGENTS.md
  .claude/config.json
  AGENTS.md
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/model/options.js
Due: lint-js, format-files

docs: add branch rules to AGENTS.md
  AGENTS.md
Due: none

docs: optimize AGENTS.md for token efficiency
  AGENTS.md
Due: none

docs: refine AGENTS.md with clearer commands and Node 24 requirement
  AGENTS.md
Due: none

docs: add detailed testing instructions to AGENTS.md
  AGENTS.md
Due: none

Simplified AGENTS.md
  AGENTS.md
Due: none

docs: add OPTIONS.md and update README (#272)
  .claude/config.json
  AGENTS.md
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/model/options.js
Due: lint-js, format-files

Test refactoring
  AGENTS.md
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/searchCore.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
Due: lint-js

Add tests for init folders and tags pages
  popup/js/__tests__/initFolders.test.js
  popup/js/__tests__/initTags.test.js
Due: lint-js

Test refactoring (#273)
  AGENTS.md
  popup/js/__tests__/initFolders.test.js
  popup/js/__tests__/initTags.test.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/searchCore.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
Due: lint-js

Allow extension tabs to be found (not filtered out)
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Add changelog entry
  CHANGELOG.md
Due: none

Allow extension tabs to be found (not filtered out) (#274)
  CHANGELOG.md
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Update dependencies
  biome.json
  package-lock.json
  package.json
Due: format-files

Fix watch script
  bin/bundle.js
  bin/createDist.js
Due: lint-js

Update dependencies (#277)
  bin/bundle.js
  bin/createDist.js
  biome.json
  package-lock.json
  package.json
Due: lint-js, format-files

Minor improvement in scoring calculation
  biome.json
  popup/js/search/scoring.js
Due: lint-js, format-files

Minor improvement in scoring calculation (#278)
  biome.json
  popup/js/search/scoring.js
Due: lint-js, format-files

Try out various fixes and improvements
  package-lock.json
  package.json
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
