Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

Fix typo in Chrome permissions API check (chrome.permissions, not chrome.permission)
  popup/js/view/groupsView.js
Due: lint-js

Refine taxonomy sort icons and ensure persistence via localStorage
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

Making this release ready
  README.md
  popup/js/view/__tests__/tagsView.test.js
Due: lint-js

Address CodeRabbit PR feedback: Use encodeURIComponent for taxonomy fragments and refactor shared taxonomy logic into taxonomyViewHelper.js
  popup/js/view/__tests__/foldersView.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/__tests__/tagsView.test.js
  popup/js/view/foldersView.js
  popup/js/view/groupsView.js
  popup/js/view/searchView.js
  popup/js/view/tagsView.js
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

Add tab group support and new tab group permission
  CHANGELOG.md
  CLAUDE.md
  OPTIONS.md
  README.md
  manifest.json
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/model/searchData.js
  popup/js/search/common.js
  popup/js/search/queryParser.js
  popup/js/search/scoring.js
  popup/js/search/taxonomySearch.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Add Tab Group dedicated Page #2
  CHANGELOG.md
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/view/foldersView.js
  popup/js/view/groupsView.js
  popup/js/view/tagsView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Remove browser-specific language: make Tab Groups feature browser-neutral
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/view/groupsView.js
Due: lint-js

Don't add group attributes if no group title can be found
  popup/js/helper/browserApi.js
Due: lint-js

feat: enable hybrid taxonomy search with double-space separator
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/foldersView.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/__tests__/tagsView.test.js
  popup/js/view/searchView.js
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

fix: preserve double spaces for hybrid taxonomy search
  popup/js/search/common.js
Due: lint-js

Remove unused CSS from options.css
  playwright/tests/tags.spec.js
  popup/css/options.css
Due: lint-js, format-files

test: update e2e tests for double-space taxonomy search
  playwright/tests/folders.spec.js
  playwright/tests/search.spec.js
Due: lint-js

Add back options comment
  popup/js/model/options.js
Due: lint-js

docs: update CHANGELOG.md and README.md with recent changes (hybrid search, dark mode fixes)
  CHANGELOG.md
  README.md
Due: none

Add keyboard shortcut to change search approach
  CHANGELOG.md
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/searchNavigation.js
Due: lint-js

Undo accidental changes
  popup/css/options.css
  popup/js/model/options.js
Due: lint-js, format-files

Change search approach via hotkey (#301)
  CHANGELOG.md
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/searchNavigation.js
Due: lint-js

Also allow TAB to separate between taxonomy seletor and search within
  CHANGELOG.md
  README.md
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/searchNavigation.js
Due: lint-js

Final touches
  popup/js/search/taxonomySearch.js
Due: lint-js

Improve documentation
  CHANGELOG.md
  README.md
  popup/js/view/__tests__/tagsView.test.js
Due: lint-js

Allow searching within a selected folder, tag or tab group (#104)
  CHANGELOG.md
  README.md
  playwright/tests/folders.spec.js
  playwright/tests/search.spec.js
  playwright/tests/tags.spec.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/common.js
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/foldersView.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/__tests__/tagsView.test.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

Remove redundant searchString in favor of only using searchStringLower
  playwright/tests/performance.spec.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
Due: lint-js

Clean up code, make bundle size smaller
  popup/js/helper/browserApi.js
  popup/js/initSearch.js
  popup/js/search/common.js
  popup/js/search/defaultResults.js
  popup/js/search/scoring.js
  popup/js/search/taxonomySearch.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
Due: lint-js

Fixing linting issues
  popup/js/helper/__tests__/utils.test.js
  popup/js/helper/utils.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/common.js
Due: lint-js

add comment / rationale why no error handling is needed in executeSearch
  popup/js/search/common.js
Due: lint-js

Adjust unit-test
  popup/js/search/__tests__/common.test.js
Due: lint-js

Fix flaky perf test
  popup/js/view/__tests__/tagsView.test.js
Due: lint-js

Remove redundant searchString in favor of only using searchStringLower (#302)
  playwright/tests/performance.spec.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/__tests__/utils.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/initSearch.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/common.js
  popup/js/search/defaultResults.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/search/simpleSearch.js
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/tagsView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
Due: lint-js

Release v2.0.0
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

Consistency fixes
  CHANGELOG.md
  OPTIONS.md
  README.md
  Tips.md
  package.json
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/model/options.js
  popup/js/view/tagsView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Mark extension as offline enabled as it requires no internet access
  manifest.json
Due: format-files

Nicer changelog
  CHANGELOG.md
Due: none

Remove offline_enabled as it doesn't seem to me relevant for manifest v3
  CHANGELOG.md
  manifest.json
Due: format-files

Release v2.0.0 (#303)
  CHANGELOG.md
  OPTIONS.md
  README.md
  Tips.md
  manifest.json
  package-lock.json
  package.json
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/model/options.js
  popup/js/view/tagsView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Bookmarks with open tabs now also display the tab's group badge
  CHANGELOG.md
  popup/js/model/searchData.js
Due: lint-js

Remove claude CI/CD job, code review is done by other services now
  .github/workflows/claude.yml
Due: none

Bookmarks with open tabs now also display the tab's group badge (#304)
  .github/workflows/claude.yml
  CHANGELOG.md
  popup/js/model/searchData.js
Due: lint-js

Invalidate search cache when changing search strategy
  .gitignore
  popup/js/view/searchEvents.js
Due: lint-js

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
