Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

Restore set-based bookmark ID validation (#386)
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

Remove options new badge
  playwright/tests/options.spec.js
  popup/css/style.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/tags.html
Due: lint-js, format-files

Align npm engine with package manager
  package-lock.json
  package.json
Due: format-files

Allow newer Node and npm releases
  package-lock.json
  package.json
Due: format-files

Fix normalized hash-sensitive tab matching
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
Due: lint-js

Strengthen tab matching regression coverage
  popup/js/view/__tests__/searchEvents.test.js
Due: lint-js

Fix bookmarksIgnoreFolderList to support folder paths
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Degrade to partial results when a data source fails or hangs
  popup/js/model/__tests__/searchData.test.js
  popup/js/model/searchData.js
Due: lint-js

Define hash semantics: base URL is identity, hash only matters at open time
  popup/js/model/__tests__/searchData.test.js
  popup/js/model/searchData.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
Due: lint-js

Improve bookmark manager layout and editing UX
  images/manager/bookmark-manager.png
  images/manager/overview.png
  playwright/tests/bookmarkManager.spec.js
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/view/__tests__/bookmarkManagerRenderHelpers.test.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerRenderHelpers.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Improve bookmark manager layout and editing UX (#404)
  images/manager/bookmark-manager.png
  images/manager/overview.png
  playwright/tests/bookmarkManager.spec.js
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/view/__tests__/bookmarkManagerRenderHelpers.test.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerRenderHelpers.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Update npm and workflow dependencies together
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  biome.json
  package-lock.json
  package.json
Due: format-files

Fix bookmarksIgnoreFolderList to support folder paths (#395)
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Simplify Node build tooling and CI checks
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  CONTRIBUTING.md
  bin/__tests__/createDist.test.js
  bin/clean.js
  bin/createDist.js
  bin/perf-summary.js
  bin/syncDevDist.js
  bin/updateLibs.js
  package-lock.json
  package.json
Due: lint-js, format-files

Update dependencies and simplify build tooling and CI (#405)
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  CONTRIBUTING.md
  bin/__tests__/createDist.test.js
  bin/clean.js
  bin/createDist.js
  bin/perf-summary.js
  bin/syncDevDist.js
  bin/updateLibs.js
  biome.json
  package-lock.json
  package.json
Due: lint-js, format-files

Refresh visible bookmark metadata when sibling tabs close
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
Due: lint-js

Keep bookmark tab metadata correct across hash routes (#397)
  popup/js/model/__tests__/searchData.test.js
  popup/js/model/searchData.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
Due: lint-js

Document removal of hooks in existing checkouts
  AGENTS.md
  CONTRIBUTING.md
Due: none

Preserve module identity and benchmark the actual search workload
  popup/js/__tests__/comparison.test.js
  popup/js/__tests__/performance.test.js
  test/modules.js
  test/modules.test.js
Due: lint-js

Run coverage serially to preserve deterministic timing checks
  package.json
Due: format-files

Cover bookmark cleanup cancellation and undo recovery
  CONTRIBUTING.md
  popup/js/__tests__/initBookmarkManager.test.js
Due: lint-js

Tighten direct-URL detection regex
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Strengthen direct URL regressions and complete release notes
  CHANGELOG.md
  playwright/tests/search.spec.js
  popup/js/search/__tests__/common.test.js
Due: lint-js

Fix direct URL detection and update release notes (#398)
  CHANGELOG.md
  playwright/tests/search.spec.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Reduce popup search conversion by reusing lowercase fields
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Reuse locale comparator for popup label sorting
  playwright/tests/performance.spec.js
  popup/js/helper/__tests__/compareText.test.js
  popup/js/helper/compareText.js
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  popup/js/model/bookmarkManagerData.js
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

Reduce popup search conversion by reusing lowercase fields (#407)
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Reuse locale comparator for popup label sorting (#408)
  playwright/tests/performance.spec.js
  popup/js/helper/__tests__/compareText.test.js
  popup/js/helper/compareText.js
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  popup/js/model/bookmarkManagerData.js
  popup/js/view/taxonomyViewHelper.js
Due: lint-js

Replace Chokidar with native filesystem watcher
  bin/__tests__/watch.test.js
  bin/watch.js
  package-lock.json
  package.json
Due: lint-js, format-files

Replace Chokidar with native filesystem watcher (#409)
  bin/__tests__/watch.test.js
  bin/watch.js
  package-lock.json
  package.json
Due: lint-js, format-files

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
