Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

Improve form editing of complex options
  popup/css/bookmarkManager.css
  popup/js/view/editOptionsView.js
Due: lint-js, format-files

Improve options search, mark options with new
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/css/style.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
  popup/tags.html
Due: lint-js, format-files

Add tests
  popup/js/view/__tests__/editOptionsView.test.js
Due: lint-js

Strengthen form-YAML sync tests with actual value assertions
  popup/js/view/__tests__/editOptionsView.test.js
Due: lint-js

Strip unknown keys from stored user options when computing effective options
  popup/js/model/optionsStorage.js
Due: lint-js

Apply code review fixes to options editor
  popup/css/bookmarkManager.css
  popup/js/model/optionsStorage.js
  popup/js/view/editOptionsView.js
Due: lint-js, format-files

Address CodeRabbit review feedback
  popup/js/initBookmarkManager.js
  popup/js/view/editOptionsView.js
Due: lint-js

Fix simple search cache invalidation
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/simpleSearch.js
Due: lint-js

Try AGENTS.md rewrite
  AGENTS.md
Due: none

Apply same fix for fuzzy search
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/fuzzySearch.js
Due: lint-js

Prevent stale async search results
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Improve simple search cache (#343)
  AGENTS.md
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
Due: lint-js

Update dependencies
  biome.json
  package-lock.json
  package.json
Due: format-files

Updateing github workflows
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  AGENTS.md
Due: none

Improve OPTIONS.md documentation and set node 24 consistently
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  OPTIONS.md
  package-lock.json
  package.json
  popup/bookmarkManager.html
Due: format-files

Update dependencies and github workflows (#344)
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  AGENTS.md
  OPTIONS.md
  biome.json
  package-lock.json
  package.json
  popup/bookmarkManager.html
Due: format-files

Pin github action workflows
  .github/workflows/ci.yml
  .github/workflows/performance.yml
Due: none

Try out caching of bookmarks and history
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/model/__tests__/searchDataCache.test.js
  popup/js/model/searchDataCache.js
  popup/js/model/searchDataCacheStorage.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
Due: lint-js

Pin github action workflows (#345)
  .github/workflows/ci.yml
  .github/workflows/performance.yml
Due: none

Try around with performance impact
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/initSearch.js
  popup/js/model/__tests__/searchDataCache.test.js
  popup/js/model/searchData.js
  popup/js/model/searchDataCache.js
  popup/js/model/searchDataCacheStorage.js
Due: lint-js

Filter out ignored history items earlier
  AGENTS.md
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/model/searchData.js
Due: lint-js

Filter out ignored bookmark folders, earlier, too
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Filter out ignored history items earlier (#347)
  AGENTS.md
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/model/searchData.js
Due: lint-js

Fix missing await on hashRouter
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/search/__tests__/fuzzySearch.test.js
Due: lint-js

Adding more tests and fixing smaller bugs / perf test response
  biome.json
  package-lock.json
  package.json
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/defaultResults.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/errorView.js
  popup/js/view/searchEvents.js
Due: lint-js, format-files

Fix reported error, update deps
  .github/workflows/performance.yml
  package-lock.json
  package.json
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/editBookmarkView.test.js
Due: lint-js, format-files

Fix router search during initialization
  popup/js/initSearch.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

feature: add openInCurrentTab configuration option
  OPTIONS.md
  README.md
  Tips.md
  popup/js/model/optionsDefaults.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
  popup/json/options.schema.json
Due: lint-js, format-files

feature: add openInCurrentTab configuration option (#350)
  OPTIONS.md
  README.md
  Tips.md
  popup/js/model/optionsDefaults.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
  popup/json/options.schema.json
Due: lint-js, format-files

fix: match option filter by technical key
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
Due: lint-js

fix: match option filter by technical key (#353)
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
Due: lint-js

Add Quick Bookmark current tab functionality
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/initEditBookmark.js
  popup/js/model/optionsDefaults.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Changing option to select a folder
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/initEditBookmark.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/optionsDefaults.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Bettter folder pick / fallback handling and option handling
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/optionsDefaults.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editBookmarkView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Update dependencies and add keyboard shortcut
  CHANGELOG.md
  README.md
  bin/updateLibs.js
  package-lock.json
  package.json
  popup/bookmarkManager.html
  popup/css/style.css
  popup/editBookmark.html
  popup/index.html
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchEvents.js
  popup/js/view/searchNavigation.js
Due: lint-js, format-files

Change to CTRL+Enter
  CHANGELOG.md
  README.md
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/optionsDefaults.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchNavigation.js
  popup/json/options.schema.json
Due: lint-js, format-files

F2 for editing / creating new bookmark
  CHANGELOG.md
  README.md
  Tips.md
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchNavigation.js
  popup/json/options.schema.json
Due: lint-js, format-files

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
