Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Prevent commits to main branch
    no-main-commits:
      run: |
        if [ "$(git rev-parse --abbrev-ref HEAD)" = "main" ]; then
          echo "‚ùå Direct commits to 'main' branch are not allowed!"
          exit 1
        fi

    # Lint and fix JavaScript files
    lint-js:
      glob: "*.{js,mjs}"
      run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    # Format CSS, HTML, JSON files
    format-files:
      glob: "*.{css,html,json}"
      run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

Smaller AGENTS.md
  AGENTS.md
  package-lock.json
  package.json
Due: format-files

Improved simpleSearch by better input token caching
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/simpleSearch.js
Due: lint-js

3 perf improvements now total
  CHANGELOG.md
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Cleanup unused options
  CHANGELOG.md
  OPTIONS.md
  popup/js/model/__tests__/options.test.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/options.js
  popup/json/options.schema.json
Due: lint-js, format-files

Guard zero search result limits
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Smaller performance Improvements (#322)
  AGENTS.md
  CHANGELOG.md
  OPTIONS.md
  package-lock.json
  package.json
  popup/js/model/__tests__/options.test.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/options.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/simpleSearch.js
  popup/json/options.schema.json
Due: lint-js, format-files

Release v2.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-files

Update manifest version, too
  manifest.json
Due: format-files

Release v2.1.1 (#324)
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

Fix IME Enter handling in search popup
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/searchNavigation.js
Due: lint-js

Expand IME navigation regression coverage
  popup/js/view/__tests__/searchNavigation.test.js
Due: lint-js

Preserve original bookmark URLs
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/model/searchData.js
  popup/js/search/common.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
Due: lint-js

Ignore Codex workspace files
  .gitignore
Due: none

Add changelog entry for URL preservation
  CHANGELOG.md
Due: none

Adding more tests to find potential issues
  .codex
  popup/js/helper/__tests__/utils.test.js
  popup/js/model/__tests__/searchData.test.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/view/__tests__/editOptionsView.test.js
Due: lint-js

Fixing e2e tests and better tab URL matching
  playwright/tests/editBookmark.spec.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
Due: lint-js

Add convenience build dist sync
  bin/syncDevDist.js
  package.json
Due: lint-js, format-files

Preserve original bookmark URLs (#330)
  .gitignore
  CHANGELOG.md
  bin/syncDevDist.js
  package.json
  playwright/tests/editBookmark.spec.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/model/searchData.js
  popup/js/search/common.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
Due: lint-js, format-files

PoC for dedicated bookmark manager page
  bin/bundle.js
  bin/createDist.js
  bin/watch.js
  manifest.json
  package-lock.json
  package.json
  playwright/tests/bookmarkManager.spec.js
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/index.html
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerData.test.js
  popup/js/model/bookmarkManagerData.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

renamings
  popup/bookmarkManager.html
Due: format-files

Add bookmark manager
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/helper/__tests__/localAiTags.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerData.test.js
  popup/js/model/bookmarkManagerData.js
  popup/js/model/searchData.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Improving UX / UI and local tagging
  playwright/tests/bookmarkManager.spec.js
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/helper/__tests__/localAiTags.test.js
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Improve tag suggestions for multi-select
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
Due: lint-js

Ignore search navigation shortcuts during IME composition (#328)
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/searchNavigation.js
Due: lint-js

Add changelog entry for IME composition
  CHANGELOG.md
Due: none

Fixing lint and test errors
  biome.json
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/js/__tests__/testUtils.js
  popup/js/model/__tests__/searchData.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
  popup/js/search/taxonomySearch.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Bump biome version
  biome.json
  package-lock.json
  package.json
Due: format-files

Add changelog entry for IME composition (#334)
  CHANGELOG.md
Due: none

Adding more tests to find potential issues (#332)
  .codex
  popup/js/helper/__tests__/utils.test.js
  popup/js/model/__tests__/searchData.test.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/view/__tests__/editOptionsView.test.js
Due: lint-js

Mark bookmark manager as beta
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
Due: format-files

Two columns in tag overview
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Improve deep link to bookmark manager / edit
  playwright/tests/bookmarkManager.spec.js
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Improve tag suggestion for multi-select
  playwright/tests/bookmarkManager.spec.js
  popup/js/helper/__tests__/localAiTags.test.js
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

Misc improvements
  playwright/tests/bookmarkManager.spec.js
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Unified single select and unified select
  popup/js/initBookmarkManager.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

First refactoring run
  playwright/tests/bookmarkManager.spec.js
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerOperations.test.js
  popup/js/model/bookmarkManagerOperations.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

First refactoring run 2
  popup/js/view/__tests__/bookmarkManagerDuplicateSelection.test.js
  popup/js/view/__tests__/bookmarkManagerTagControls.test.js
  popup/js/view/bookmarkManagerDuplicateSelection.js
  popup/js/view/bookmarkManagerTagControls.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

First refactoring run 3
  popup/js/view/__tests__/bookmarkManagerDuplicatesView.test.js
  popup/js/view/__tests__/bookmarkManagerOverviewView.test.js
  popup/js/view/bookmarkManagerDuplicatesView.js
  popup/js/view/bookmarkManagerOverviewView.js
  popup/js/view/bookmarkManagerRenderHelpers.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

Inline suggestion responses
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/helper/__tests__/localAiTags.test.js
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Misc improvements
  popup/bookmarkManager.html
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerData.test.js
  popup/js/model/bookmarkManagerData.js
  popup/js/view/__tests__/bookmarkManagerOverviewView.test.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerOverviewView.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files
