Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

Add changelog entry
  CHANGELOG.md
Due: none

Invalidate search cache when changing search strategy (#305)
  .gitignore
  CHANGELOG.md
  popup/js/view/searchEvents.js
Due: lint-js

Removing unnecessary search result filtering by removed minScore
  CHANGELOG.md
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Potential memory leak in event delegation tracking for search results
  CHANGELOG.md
  popup/js/view/searchEvents.js
Due: lint-js

Remove stale comments
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Potential memory leak in event delegation tracking for search results (#307)
  CHANGELOG.md
  popup/js/view/searchEvents.js
Due: lint-js

Fix outdated comment
  popup/js/search/common.js
Due: lint-js

Removing unnecessary search result filtering by removed minScore (#306)
  CHANGELOG.md
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Replaced the lilac T badge for bookmarks with open tabs with a vertical color gradient
  CHANGELOG.md
  popup/css/style.css
  popup/js/view/searchView.js
Due: lint-js, format-files

Adding test
  popup/js/view/__tests__/searchView.test.js
Due: lint-js

Replaced the T badge for bookmarks with open tabs with a vertical color gradient (#308)
  CHANGELOG.md
  popup/css/style.css
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Add unit-tests for files that didn't have them yet
  popup/js/view/__tests__/groupsView.test.js
  popup/js/view/__tests__/taxonomyViewHelper.test.js
Due: lint-js

Add init groups unit tests
  popup/js/__tests__/initGroups.test.js
  popup/js/helper/__tests__/utils.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
Due: lint-js

Increase function test coverage to 100%
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/model/__tests__/searchData.test.js
Due: lint-js

Add unit-tests (#309)
  popup/js/__tests__/initGroups.test.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/__tests__/utils.test.js
  popup/js/model/__tests__/searchData.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/view/__tests__/groupsView.test.js
  popup/js/view/__tests__/taxonomyViewHelper.test.js
Due: lint-js

Release v2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-files

Release v2.0.1 (#310)
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-files

Update manifest version, too
  manifest.json
Due: format-files

Release/v2.0.1 (#311)
  manifest.json
Due: format-files

Don't bundle schema validation into initSearch
  popup/js/model/__tests__/options.test.js
  popup/js/model/options.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchEvents.js
Due: lint-js

Improve error modal in options page
  OPTIONS.md
  README.md
  popup/css/options.css
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/validateOptions.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
  popup/options.html
Due: lint-js, format-files

Updated schema and error overlay
  CHANGELOG.md
  popup/css/options.css
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/options.js
  popup/js/model/validateOptions.js
  popup/js/search/scoring.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Final touches and consistency
  CHANGELOG.md
  OPTIONS.md
  README.md
  bin/updateLibs.js
  package-lock.json
  package.json
  popup/js/model/__tests__/options.test.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/options.js
  popup/js/search/__tests__/scoring.test.js
  popup/json/options.schema.json
Due: lint-js, format-files

Undo some default option changes
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/model/options.js
  popup/json/options.schema.json
Due: lint-js, format-files

Fixing changelog
  CHANGELOG.md
Due: none

refactor: dynamically import options schema in model and view modules.
  popup/js/model/validateOptions.js
  popup/js/view/editOptionsView.js
Due: lint-js

Improve ai config generation section
  CHANGELOG.md
  OPTIONS.md
Due: none

Apply code review suggestsions
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
Due: lint-js

Don't automatically save when removing unknown options
  popup/js/view/__tests__/editOptionsView.test.js
Due: lint-js

Fixing e2e tests
  playwright/tests/options.spec.js
  playwright/tests/recentTabs.spec.js
  popup/js/model/validateOptions.js
  popup/js/view/editOptionsView.js
Due: lint-js

restore changelog
  CHANGELOG.md
  playwright/tests/editBookmark.spec.js
Due: lint-js

simplify changelog
  CHANGELOG.md
Due: none

Adjust playwright config to new popup width
  playwright.config.mjs
Due: lint-js

style: update error overlay button appearance, layout, and hover effects.
  popup/css/options.css
Due: format-files

Adding e2e tests
  playwright/tests/options.spec.js
Due: lint-js

Adding e2e tests #2
  playwright/tests/options.spec.js
Due: lint-js

Validating user options via JSON Schema (#211)
  CHANGELOG.md
  OPTIONS.md
  README.md
  package-lock.json
  playwright.config.mjs
  playwright/tests/editBookmark.spec.js
  playwright/tests/options.spec.js
  playwright/tests/recentTabs.spec.js
  popup/css/options.css
  popup/js/model/__tests__/options.test.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/options.js
  popup/js/model/searchData.js
  popup/js/model/validateOptions.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchEvents.js
  popup/json/options.schema.json
  popup/options.html
Due: lint-js, format-files

Improve error displaying in search view, too
  popup/css/error-overlay.css
  popup/index.html
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/errorView.js
Due: lint-js, format-files

Simplify layout, html and css
  popup/css/error-overlay.css
  popup/css/style.css
  popup/index.html
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/errorView.js
Due: lint-js, format-files

Add error overlay to other pages, too
  AGENTS.md
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/tags.html
Due: format-files

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
