Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Prevent commits to main branch
    no-main-commits:
      run: |
        if [ "$(git rev-parse --abbrev-ref HEAD)" = "main" ]; then
          echo "‚ùå Direct commits to 'main' branch are not allowed!"
          exit 1
        fi

    # Lint and fix JavaScript files
    lint-js:
      glob: "*.{js,mjs}"
      run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    # Format CSS, HTML, JSON files
    format-files:
      glob: "*.{css,html,json}"
      run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

Performance improvements
  popup/js/helper/utils.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
  popup/js/search/scoring.js
Due: lint-js

Add realistic performance benchmarks
  bin/perf-summary.js
  popup/js/__tests__/comparison.test.js
Due: lint-js

Update changelog, follow review comments
  CHANGELOG.md
  bin/perf-summary.js
  popup/js/__tests__/comparison.test.js
Due: lint-js

Remove popup duplicate bookmark badge
  CHANGELOG.md
  OPTIONS.md
  README.md
  Tips.md
  popup/css/style.css
  popup/js/__tests__/testUtils.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/initBookmarkManager.js
  popup/js/model/optionsDefaults.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Minor perf improvements (#369)
  CHANGELOG.md
  bin/perf-summary.js
  popup/js/__tests__/comparison.test.js
  popup/js/helper/utils.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
  popup/js/search/scoring.js
Due: lint-js

Remove popup duplicate bookmark badge (#370)
  CHANGELOG.md
  OPTIONS.md
  README.md
  Tips.md
  popup/css/style.css
  popup/js/__tests__/testUtils.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/initBookmarkManager.js
  popup/js/model/optionsDefaults.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Update tagify
  package-lock.json
  package.json
Due: format-files

Improve changelog
  CHANGELOG.md
Due: none

Move global bookmark manager warning header to more inline warnings
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
Due: format-files

Release v2.4.0 (#364)
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
Due: format-files

Include bookmark IDs in Netscape HTML export
  popup/js/model/__tests__/bookmarkExport.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/model/bookmarkExport.js
Due: lint-js

Add changelog entry for bookmark export IDs
  CHANGELOG.md
Due: none

Include bookmark IDs in Netscape HTML export (#371)
  CHANGELOG.md
  popup/js/model/__tests__/bookmarkExport.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/model/bookmarkExport.js
Due: lint-js

Deduplicate concurrent script loads
  popup/js/helper/__tests__/utils.test.js
  popup/js/helper/utils.js
Due: lint-js

Keep search data when browser APIs fail
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/model/__tests__/searchData.test.js
  popup/js/model/searchData.js
Due: lint-js

Remove unknown nested options
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
Due: lint-js

Preserve search input across async navigation
  popup/js/initSearch.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/common.js
  popup/js/search/defaultResults.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
Due: lint-js

Prepare popup libraries for Playwright
  playwright.config.mjs
Due: lint-js

Prepare popup libraries for Playwright (#377)
  playwright.config.mjs
Due: lint-js

Remove unknown nested options (#375)
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
Due: lint-js

Deduplicate concurrent script loads (#373)
  popup/js/helper/__tests__/utils.test.js
  popup/js/helper/utils.js
Due: lint-js

Add files via upload
  localized-md/ru/AGENTS.md
  localized-md/ru/CHANGELOG.md
  localized-md/ru/CONTRIBUTING.md
  localized-md/ru/OPTIONS.md
  localized-md/ru/README.md
  localized-md/ru/Tips.md
Due: none

Add files via upload
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  OPTIONS.md
  README.md
  Tips.md
Due: none

Add files via upload
  popup/css/style.css
Due: format-files

Add files via upload
  popup/js/helper/i18n.js
Due: lint-js

Add files via upload
  popup/js/view/bookmarkManagerDuplicatesView.js
  popup/js/view/bookmarkManagerOverviewView.js
  popup/js/view/bookmarkManagerView.js
  popup/js/view/searchEvents.js
Due: lint-js

Add files via upload
  _locales/en/messages.json
  _locales/ru/messages.json
Due: format-files

Add files via upload
  popup/bookmarkManager.html
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/tags.html
Due: format-files

Enable CodeRabbit auto reviews via .coderabbit.yaml
  .coderabbit.yaml
Due: none

chore: update dependencies and reformat with new biome config
  biome.json
  package-lock.json
  package.json
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/__tests__/searchNavigation.test.js
Due: lint-js, format-files

feat: make already-open tab detection hash-sensitive
  CHANGELOG.md
  popup/js/model/optionsDefaults.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
  popup/json/options.schema.json
Due: lint-js, format-files

fix(docs,i18n): address CodeRabbit review comments
  _locales/en/messages.json
  _locales/ru/messages.json
  localized-md/ru/AGENTS.md
  localized-md/ru/CHANGELOG.md
  localized-md/ru/CONTRIBUTING.md
  localized-md/ru/OPTIONS.md
  localized-md/ru/README.md
  localized-md/ru/Tips.md
Due: format-files

Update localized-md/ru/Tips.md
  localized-md/ru/Tips.md
Due: none

Document browser bookmark restore flow
  README.md
  playwright/tests/bookmarkManager.spec.js
  popup/bookmarkManager.html
  popup/js/model/__tests__/bookmarkExport.test.js
Due: lint-js, format-files

Release v2.5.0
  biome.json
  manifest.json
  package-lock.json
  package.json
Due: format-files

Bump version in changelog
  CHANGELOG.md
Due: none

Clarify local variable names
  popup/js/helper/utils.js
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

Document hash-sensitive tab matching
  OPTIONS.md
  README.md
Due: none

Restore set-based bookmark ID validation
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

Document hash-sensitive tab matching (#387)
  OPTIONS.md
  README.md
Due: none
