Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Prevent commits to main branch
    no-main-commits:
      run: |
        if [ "$(git rev-parse --abbrev-ref HEAD)" = "main" ]; then
          echo "‚ùå Direct commits to 'main' branch are not allowed!"
          exit 1
        fi

    # Lint and fix JavaScript files
    lint-js:
      glob: "*.{js,mjs}"
      run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    # Format CSS, HTML, JSON files
    format-files:
      glob: "*.{css,html,json}"
      run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

Simplified convertBrowserHistory again
  popup/js/helper/browserApi.js
Due: lint-js

Make it more reliable + add more tests
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
Due: lint-js

Add changelog entry
  CHANGELOG.md
Due: none

Try out various fixes and performance improvements (#280)
  CHANGELOG.md
  package-lock.json
  package.json
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Minor typo and consistency fixes, respect titleLengthRestrictionForUrls setting
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package.json
  popup/js/helper/browserApi.js
  popup/js/model/options.js
Due: lint-js, format-files

Fuzzyness consistency spelling
  popup/js/model/options.js
Due: lint-js

Minor typo and consistency fixes, respect titleLengthRestrictionForUrls setting (#281)
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package.json
  popup/js/helper/browserApi.js
  popup/js/model/options.js
Due: lint-js, format-files

Release v1.17.3
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

Update lefthook
  LICENSE
  biome.json
  package-lock.json
  package.json
Due: format-files

Release v1.17.3 (#282)
  CHANGELOG.md
  LICENSE
  biome.json
  manifest.json
  package-lock.json
  package.json
Due: format-files

Reduce max recent tabs to show, detect more current bookmark tabs
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/model/options.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
Due: lint-js

Reduce max recent tabs to show, detect more current bookmark tabs (#283)
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/model/options.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
Due: lint-js

Adding performance measurement tests and trying to improve search rendering perf
  .github/workflows/performance.yml
  AGENTS.md
  CHANGELOG.md
  bin/perf-summary.js
  jest_output.txt
  package.json
  perf_summary.md
  playwright/tests/performance.spec.js
  playwright_output.txt
  popup/js/__tests__/comparison.test.js
  popup/js/__tests__/performance.test.js
  popup/js/__tests__/testUtils.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/initSearch.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/search/simpleSearch.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Do not checkin perf_summary
  perf_summary.md
  popup/js/__tests__/initSearch.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/common.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js

Fixing things
  .github/workflows/performance.yml
  .gitignore
  bin/perf-summary.js
  jest_output.txt
  playwright_output.txt
  popup/js/search/__tests__/scoring.test.js
  popup/js/view/__tests__/searchView.test.js
Due: lint-js

Remove mark.js as a dependency
  .github/workflows/performance.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  bin/perf-summary.js
  bin/updateLibs.js
  jest_output.txt
  package-lock.json
  package.json
  playwright_output.txt
  popup/js/helper/utils.js
  popup/js/initSearch.js
Due: lint-js, format-files

Remove mark.js mention in credits
  README.md
Due: none

Fixing missing immutability in simple search highlighting
  popup/js/helper/utils.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/simpleSearch.js
Due: lint-js

Try out perf improvements on simpleSearch
  popup/js/__tests__/integration.test.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
Due: lint-js

Final cleanup and consistency
  CHANGELOG.md
  CLAUDE.md
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
Due: lint-js

Fix bug where separator was not handled correctly when displaying URLs
  bin/perf-summary.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/simpleSearch.js
Due: lint-js

Add no-warmup perf tests
  popup/js/__tests__/comparison.test.js
Due: lint-js

Fix current issues
  bin/perf-summary.js
  popup/js/search/simpleSearch.js
Due: lint-js

Further improve simpleSearch performance
  popup/js/helper/browserApi.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/scoring.js
  popup/js/search/simpleSearch.js
Due: lint-js

Creating and using a test helper for creating search data
  popup/js/__tests__/testUtils.js
  popup/js/search/__tests__/simpleSearch.test.js
Due: lint-js

Consistently use test helpers..
  popup/js/__tests__/comparison.test.js
  popup/js/__tests__/testUtils.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/simpleSearch.js
Due: lint-js

Consistently use test helpers..
  popup/js/search/__tests__/simpleSearch.test.js
Due: lint-js

Consistently use test helpers..
  popup/js/__tests__/comparison.test.js
  popup/js/__tests__/testUtils.js
  popup/js/search/__tests__/fuzzySearch.test.js
Due: lint-js

Refactor testUtils a bit
  popup/js/__tests__/testUtils.js
Due: lint-js

Refactoring tests
  popup/js/__tests__/integration.test.js
  popup/js/__tests__/performance.test.js
  popup/js/__tests__/testUtils.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/__tests__/searchCore.test.js
Due: lint-js

Undo using different highlighting between simple search and fuzzy search
  popup/js/__tests__/comparison.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
  popup/js/view/searchView.js
Due: lint-js

Improve benchmark comparison script
  popup/js/__tests__/comparison.test.js
  popup/js/search/simpleSearch.js
Due: lint-js

Optimize combined search performance and add robust caching unit tests
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
Due: lint-js

Update github actions
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/performance.yml
Due: none

Final cleanup and consistency #2
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
Due: lint-js

documentation condensed
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
Due: lint-js

Fix outdated changelog statement
  CHANGELOG.md
Due: none

Renamed bug verification test and clarified that this is not a user-facing bug and why
  popup/js/search/__tests__/common.test.js
Due: lint-js

Fail on performance regressions
  bin/perf-baselines.json
  bin/perf-summary.js
Due: lint-js, format-files

Remove mark.js from bundle externals
  bin/bundle.js
Due: lint-js
