Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Prevent commits to main branch
    no-main-commits:
      run: |
        if [ "$(git rev-parse --abbrev-ref HEAD)" = "main" ]; then
          echo "‚ùå Direct commits to 'main' branch are not allowed!"
          exit 1
        fi

    # Lint and fix JavaScript files
    lint-js:
      glob: "*.{js,mjs}"
      run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    # Format CSS, HTML, JSON files
    format-files:
      glob: "*.{css,html,json}"
      run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

Warn before large AI tag suggestions
  popup/js/__tests__/initBookmarkManager.test.js
  popup/js/helper/__tests__/localAiTags.test.js
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  tmp/REPORT-2.md
Due: lint-js

Add cleanup prompt context limit
  popup/bookmarkManager.html
  popup/js/__tests__/initBookmarkManager.test.js
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
  tmp/REPORT-2.md
Due: lint-js, format-files

Respect favorite score in duplicate ranking
  popup/js/model/__tests__/bookmarkManagerData.test.js
  popup/js/model/bookmarkManagerData.js
  tmp/REPORT-2.md
Due: lint-js

Normalize bookmark manager tags consistently
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/__tests__/bookmarkManagerOperations.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/model/bookmarkManagerOperations.js
  popup/js/view/__tests__/bookmarkManagerTagControls.test.js
  popup/js/view/bookmarkManagerTagControls.js
  tmp/REPORT-2.md
Due: lint-js

Gate local cleanup debug logging
  popup/js/initBookmarkManager.js
  tmp/REPORT-2.md
Due: lint-js

Clean bookmark manager reload flow
  popup/js/initBookmarkManager.js
  tmp/REPORT-2.md
Due: lint-js

Stabilize beta verification checks
  playwright/tests/performance.spec.js
  popup/bookmarkManager.html
  popup/js/view/editOptionsView.js
Due: lint-js, format-files

Preserve options edits during async load
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editOptionsView.js
Due: lint-js

Record beta verification results
  tmp/REPORT-2.md
Due: none

Fixing tag and score parsing for bookmark manager (consistency with popup)
  popup/js/model/__tests__/bookmarkManagerOperations.test.js
  popup/js/model/bookmarkManagerOperations.js
Due: lint-js

Add bookmark manager loading indicator
  playwright/tests/bookmarkManager.spec.js
  popup/bookmarkManager.html
Due: lint-js, format-files

Cover bookmark manager render helpers
  popup/js/view/__tests__/bookmarkManagerRenderHelpers.test.js
Due: lint-js

Cover extension context defaults
  popup/js/helper/__tests__/extensionContext.test.js
Due: lint-js

Normalize manager Tagify display tags
  popup/js/view/__tests__/bookmarkManagerTagControls.test.js
  popup/js/view/bookmarkManagerTagControls.js
Due: lint-js

Clean bookmark manager success styling
  popup/css/bookmarkManager.css
Due: format-files

Move undo import export helpers to model
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerUndo.test.js
  popup/js/model/bookmarkManagerUndo.js
Due: lint-js

Extract cleanup apply bookkeeping
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupApply.test.js
  popup/js/model/bookmarkCleanupApply.js
Due: lint-js

Extract bookmark manager tag update planning
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerTagUpdates.test.js
  popup/js/model/bookmarkManagerTagUpdates.js
Due: lint-js

Reset suggestions on bookmark selection change
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Place cleanup prompt controls in one row
  popup/css/bookmarkManager.css
Due: format-files

Make cleanup prompt sections conditional
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

make prompt sections more conditional
  popup/bookmarkManager.html
Due: format-files

Harden cleanup prompt instructions
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

Improve prompt?
  popup/bookmarkManager.html
Due: format-files

Fix large tag suggestion retry filtering
  popup/js/helper/__tests__/localAiTags.test.js
  popup/js/helper/localAiTags.js
Due: lint-js

Prepare 2.3.0 beta release
  CHANGELOG.md
  README.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

Add two more screenshots
  README.md
  images/manager/ai-cleanup.png
  images/manager/undo-history.png
Due: none

Proposal JSON horizontal alignment
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
Due: format-files

Fixing suggestions from code review
  popup/css/bookmarkManager.css
  popup/js/helper/localAiTags.js
  popup/js/initBookmarkManager.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/model/bookmarkExport.js
  popup/js/model/bookmarkManagerTagUpdates.js
  popup/js/model/bookmarkManagerUndo.js
  popup/js/view/bookmarkManagerDuplicateSelection.js
  popup/js/view/bookmarkManagerDuplicatesView.js
  popup/js/view/bookmarkManagerOverviewView.js
  popup/js/view/bookmarkManagerRenderHelpers.js
  popup/js/view/editBookmarkView.js
  popup/js/view/editOptionsView.js
Due: lint-js, format-files

Bump dependencies
  bin/createDist.js
  package-lock.json
  package.json
Due: lint-js, format-files

Minor
  README.md
  popup/js/view/__tests__/editOptionsView.test.js
Due: lint-js

Improve layout
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js, format-files

Fixed Bookmark undefined title bug
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

Fix bug and simplify schema a little
  popup/js/__tests__/initBookmarkManager.test.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/json/change-proposal.schema.json
Due: lint-js, format-files

Remove open-bookmark-editor button — sidebar editor duplicates its functionality
  popup/bookmarkManager.html
  popup/js/__tests__/initBookmarkManager.test.js
  popup/js/initBookmarkManager.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Add new label to bookmark manger footer icon
  popup/css/style.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/options.html
  popup/tags.html
Due: format-files

Cleanup / make size smaller
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

Refine prompt
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

Improve light prompt
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  tmp/REPORT-2.md
Due: lint-js

Mentioning beta more prominently in readme
  README.md
Due: none
