Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Prevent commits to main branch
    no-main-commits:
      run: |
        if [ "$(git rev-parse --abbrev-ref HEAD)" = "main" ]; then
          echo "‚ùå Direct commits to 'main' branch are not allowed!"
          exit 1
        fi

    # Lint and fix JavaScript files
    lint-js:
      glob: "*.{js,mjs}"
      run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    # Format CSS, HTML, JSON files
    format-files:
      glob: "*.{css,html,json}"
      run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

Cleaner debug logging
  popup/js/initSearch.js
  popup/js/search/common.js
Due: lint-js

Improve CI/CD performance?
  .github/workflows/ci.yml
  .github/workflows/performance.yml
Due: none

Remove mark.js as dependency and add performance benchmarking (#284)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/performance.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  bin/bundle.js
  bin/perf-baselines.json
  bin/perf-summary.js
  bin/updateLibs.js
  package-lock.json
  package.json
  playwright/tests/performance.spec.js
  popup/js/__tests__/comparison.test.js
  popup/js/__tests__/initSearch.test.js
  popup/js/__tests__/integration.test.js
  popup/js/__tests__/performance.test.js
  popup/js/__tests__/testUtils.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/initSearch.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/__tests__/searchCore.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/search/simpleSearch.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Full tag and folder highlighting
  CHANGELOG.md
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
  popup/js/view/searchView.js
Due: lint-js

Don't cache playwright browsers
  .github/workflows/ci.yml
Due: none

Full tag and folder highlighting (#286)
  .github/workflows/ci.yml
  CHANGELOG.md
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
  popup/js/view/searchView.js
Due: lint-js

Add more realistic perf test scenario and further try optimizations
  popup/js/__tests__/comparison.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/search/common.js
  popup/js/search/scoring.js
  popup/js/search/simpleSearch.js
Due: lint-js

Testing out other perf improvements and cleanups
  popup/js/__tests__/comparison.test.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/scoring.js
  popup/js/search/simpleSearch.js
Due: lint-js

Adding more performance tests
  bin/perf-summary.js
  popup/js/__tests__/comparison.test.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/search/common.js
  popup/js/search/scoring.js
Due: lint-js

Improve simple search performance further (#287)
  bin/perf-summary.js
  popup/js/__tests__/comparison.test.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/common.js
  popup/js/search/scoring.js
  popup/js/search/simpleSearch.js
Due: lint-js

Improve data loading / conversion performance
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
Due: lint-js

Fixing lowercasing bugs
  popup/js/helper/browserApi.js
Due: lint-js

Adding changelog entry
  CHANGELOG.md
Due: none

Improve data loading perf (#288)
  CHANGELOG.md
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
Due: lint-js

Cleaning up agent instructions, having AGENTS.md in root should be sufficient for now
  .claude/README.md
  .claude/commands/context.md
  .claude/commands/lint.md
  .claude/commands/test.md
  .claude/commands/verify.md
  .claude/config.json
  .github/agents/test-engineer.md
  .github/copilot-instructions.md
Due: format-files

Add .claude to gitignore
  .gitignore
Due: none

Cleaning up agent instructions (#289)
  .claude/README.md
  .claude/commands/context.md
  .claude/commands/lint.md
  .claude/commands/test.md
  .claude/commands/verify.md
  .claude/config.json
  .github/agents/test-engineer.md
  .github/copilot-instructions.md
  .gitignore
Due: format-files

Simplify options, remove low-value options to clean up code a bit
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/css/style.css
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/model/__tests__/options.test.js
  popup/js/model/options.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/scoring.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Remove two more low-value options
  CHANGELOG.md
  CLAUDE.md
  OPTIONS.md
  README.md
  Tips.md
  popup/css/style.css
  popup/js/__tests__/integration.test.js
  popup/js/model/__tests__/options.test.js
  popup/js/model/options.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/searchCore.test.js
  popup/js/search/common.js
Due: lint-js, format-files

Improve OPTIONS.md documentation and some inline documentation
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/model/options.js
Due: lint-js

Documentation fixes
  CHANGELOG.md
  OPTIONS.md
  README.md
  Tips.md
Due: none

More minor documentation fixes
  README.md
Due: none

Improve AGENTS.md and CONTRIBUTING.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

Improved Tips.md
  Tips.md
Due: none

Significant follow-up cleanup, now that some options are hardcoded or irrelevant
  AGENTS.md
  popup/js/helper/utils.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/__tests__/searchEngines.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/common.js
  popup/js/search/defaultResults.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/search/searchEngines.js
  popup/js/search/simpleSearch.js
  popup/js/search/taxonomySearch.js
  popup/js/view/searchView.js
Due: lint-js

Precompiling regexp for better performance
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/search/common.js
  popup/js/search/scoring.js
Due: lint-js

Simplify options, remove low-value options to clean up code a bit (#290)
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  OPTIONS.md
  README.md
  Tips.md
  popup/css/style.css
  popup/js/__tests__/integration.test.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/model/__tests__/options.test.js
  popup/js/model/options.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/__tests__/searchCore.test.js
  popup/js/search/__tests__/searchEngines.test.js
  popup/js/search/__tests__/simpleSearch.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/common.js
  popup/js/search/defaultResults.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
  popup/js/search/searchEngines.js
  popup/js/search/simpleSearch.js
  popup/js/search/taxonomySearch.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Improve AGENTS.md for a bit more brevity
  AGENTS.md
Due: none

Improve Architecture Overview documentation
  AGENTS.md
Due: none

Improve agents.md (#291)
  AGENTS.md
Due: none

Improfe search performance by filtering first, then sorting and other tricks
  CHANGELOG.md
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
Due: lint-js

Improve search performance by filtering first, then sorting and other tricks (#292)
  CHANGELOG.md
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/scoring.js
Due: lint-js

More performance improvements
  .vscode/settings.json
  popup/js/helper/utils.js
  popup/js/search/common.js
  popup/js/search/scoring.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Undo url and title equals optimization
  popup/js/search/common.js
Due: lint-js

More minor performance improvements (#293)
  .vscode/settings.json
  popup/js/helper/utils.js
  popup/js/search/common.js
  popup/js/search/scoring.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Release v1.18.0
  CHANGELOG.md
  manifest.json
  package.json
Due: format-files

Release v1.18.0 (#294)
  CHANGELOG.md
  manifest.json
  package.json
Due: format-files

Make bookmark edit title and URL bigger
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/options.html
Due: format-files

More CSS adjustments on layout
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/options.html
Due: format-files

Add changelog entries
  CHANGELOG.md
Due: none
