Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Prevent commits to main branch
    no-main-commits:
      run: |
        if [ "$(git rev-parse --abbrev-ref HEAD)" = "main" ]; then
          echo "‚ùå Direct commits to 'main' branch are not allowed!"
          exit 1
        fi

    # Lint and fix JavaScript files
    lint-js:
      glob: "*.{js,mjs}"
      run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    # Format CSS, HTML, JSON files
    format-files:
      glob: "*.{css,html,json}"
      run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

Minor code review suggestions
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/initEditBookmark.js
  popup/js/model/optionsDefaults.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/editOptionsView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Add Quick Bookmark current tab functionality (#354)
  CHANGELOG.md
  OPTIONS.md
  README.md
  Tips.md
  bin/updateLibs.js
  package-lock.json
  package.json
  popup/bookmarkManager.html
  popup/css/style.css
  popup/editBookmark.html
  popup/index.html
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/initEditBookmark.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/optionsDefaults.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/editOptionsView.test.js
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/__tests__/searchNavigation.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchEvents.js
  popup/js/view/searchNavigation.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Fix search initialization routing
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Clone default search results
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
Due: lint-js

Use scorer search term argument
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/scoring.js
Due: lint-js

Require exact taxonomy value matches
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/taxonomySearch.js
Due: lint-js

Clear fuzzy results after search failure
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/fuzzySearch.js
Due: lint-js

Clear tab state after closing result
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
Due: lint-js

Guard missing bookmark updates
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
Due: lint-js

Remove stale error overlay key listener
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/errorView.js
Due: lint-js

Tighten performance test workflow
  .github/workflows/performance.yml
  package.json
Due: format-files

Use scorer search term argument (#357)
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/scoring.js
Due: lint-js

Tighten performance test workflow (#363)
  .github/workflows/performance.yml
  package.json
Due: format-files

Guard missing bookmark updates (#361)
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
Due: lint-js

Clear fuzzy results after search failure (#360)
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/fuzzySearch.js
Due: lint-js

Cover default result source mutation
  popup/js/search/__tests__/common.test.js
Due: lint-js

Clone default search results (#356)
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/defaultResults.test.js
  popup/js/search/defaultResults.js
Due: lint-js

Await hash-driven initial search
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
Due: lint-js

Cover exact group taxonomy matches
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/taxonomySearch.js
Due: lint-js

Remove stale error overlay key listener (#362)
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/errorView.js
Due: lint-js

Fix search initialization routing (#355)
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/common.js
Due: lint-js

Clear tab state after closing result (#359)
  popup/js/view/__tests__/searchEvents.test.js
  popup/js/view/searchEvents.js
Due: lint-js

Require exact taxonomy matches (#358)
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/taxonomySearch.js
Due: lint-js

Revert "Require exact taxonomy matches (#358)"
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/taxonomySearch.js
Due: lint-js

Revert "Require exact taxonomy matches (#358)" (#365)
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/taxonomySearch.test.js
  popup/js/search/taxonomySearch.js
Due: lint-js

Fix options fallback and Biome config
  biome.json
  playwright/tests/options.spec.js
  popup/js/model/__tests__/options.test.js
  popup/js/model/options.js
  popup/js/model/optionsDefaults.js
  popup/js/model/optionsStorage.js
Due: lint-js, format-files

Fix options fallback and Biome config (#366)
  biome.json
  playwright/tests/options.spec.js
  popup/js/model/__tests__/options.test.js
  popup/js/model/options.js
  popup/js/model/optionsDefaults.js
  popup/js/model/optionsStorage.js
Due: lint-js, format-files

Release v2.4.0
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

Trying to decrease bundle size and perf benchmark too slow
  bin/bundle.js
  bin/serveStatic.js
  package.json
  playwright.config.mjs
  playwright/tests/performance.spec.js
  popup/js/helper/__tests__/utils.test.js
  popup/js/helper/utils.js
  popup/js/search/common.js
Due: lint-js, format-files

package
  package.json
Due: format-files

Fix perf summary generation
  package.json
Due: format-files

Updated dependencies, fix code review findings
  bin/serveStatic.js
  biome.json
  package-lock.json
  package.json
  popup/css/style.css
  popup/js/helper/__tests__/utils.test.js
  popup/js/helper/browserApi.js
  popup/js/initSearch.js
  popup/js/model/optionsStorage.js
  popup/js/model/searchData.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/resultObjects.js
  popup/js/search/simpleSearch.js
  popup/js/view/searchEvents.js
Due: lint-js, format-files

Trying to decrease bundle size and perf benchmark too slow (#367)
  bin/bundle.js
  bin/serveStatic.js
  biome.json
  package-lock.json
  package.json
  playwright.config.mjs
  playwright/tests/performance.spec.js
  popup/css/style.css
  popup/js/helper/__tests__/utils.test.js
  popup/js/helper/browserApi.js
  popup/js/helper/utils.js
  popup/js/initSearch.js
  popup/js/model/optionsStorage.js
  popup/js/model/searchData.js
  popup/js/search/common.js
  popup/js/search/fuzzySearch.js
  popup/js/search/resultObjects.js
  popup/js/search/simpleSearch.js
  popup/js/view/searchEvents.js
Due: lint-js, format-files

Drop displyIcons option, lazy load displayFavicons CSS
  CHANGELOG.md
  OPTIONS.md
  README.md
  bin/bundle.js
  bin/createDist.js
  popup/css/favicons.css
  popup/css/style.css
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/optionsDefaults.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Remove duplicate popup sizing styles
  CHANGELOG.md
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/tags.html
Due: format-files

Don't create separate favicons.css
  CHANGELOG.md
  bin/bundle.js
  bin/createDist.js
  popup/css/favicons.css
  popup/css/style.css
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
Due: lint-js, format-files

Apply suggestion from @Fannon
  CHANGELOG.md
Due: none

Strip legacy displayIcons option on load
  popup/js/model/__tests__/options.test.js
  popup/js/model/optionsStorage.js
Due: lint-js

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Drop displyIcons option, lazy load displayFavicons CSS (#368)
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/css/style.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/__tests__/initSearch.test.js
  popup/js/model/__tests__/options.test.js
  popup/js/model/__tests__/validateOptions.test.js
  popup/js/model/optionsDefaults.js
  popup/js/model/optionsStorage.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
  popup/tags.html
Due: lint-js, format-files
