Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

Add changelog and readme.md documentation
  CHANGELOG.md
  README.md
  images/manager/bookmark-duplicates.png
  images/manager/bookmark-manager.png
  images/manager/overview.png
  images/manager/tag-manager.png
Due: none

Add change history and undo
  CHANGELOG.md
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerUndo.test.js
  popup/js/model/bookmarkManagerUndo.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerOverviewView.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Add favorite bookmark scoring
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/css/editBookmark.css
  popup/css/style.css
  popup/editBookmark.html
  popup/img/star-outline.svg
  popup/img/star.svg
  popup/js/__tests__/comparison.test.js
  popup/js/helper/__tests__/browserApi.test.js
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/search/__tests__/common.test.js
  popup/js/search/__tests__/scoring.test.js
  popup/js/search/scoring.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Gitignore .DS_Store files
  .gitignore
  package-lock.json
Due: format-files

Document it as integer
  OPTIONS.md
  biome.json
  playwright/tests/editBookmark.spec.js
  popup/editBookmark.html
Due: lint-js, format-files

Update dependency and fix linting issues
  biome.json
  package-lock.json
  package.json
  popup/index.html
  popup/js/view/editOptionsView.js
  popup/options.html
Due: lint-js, format-files

Use +25 and +50 to favorite with yellow and orange star
  popup/css/editBookmark.css
  popup/css/style.css
  popup/editBookmark.html
  popup/img/star-orange.svg
  popup/img/star-outline.svg
  popup/img/star-yellow.svg
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/initEditBookmark.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Add red star
  CHANGELOG.md
  bin/watch.js
  popup/css/editBookmark.css
  popup/css/options.css
  popup/img/star-red.svg
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Bake in the fixed size into HTML already
  package-lock.json
  package.json
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/options.html
  popup/tags.html
Due: format-files

Fix missing clean and watch tasks
  bin/clean.js
  bin/createDist.js
  bin/watch.js
  biome.json
  popup/index.html
Due: lint-js, format-files

Fixing lint issues
  biome.json
  popup/js/__tests__/testUtils.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
  popup/js/search/taxonomySearch.js
Due: lint-js, format-files

Bake in the fixed size into HTML already (#337)
  bin/clean.js
  bin/createDist.js
  bin/watch.js
  biome.json
  package-lock.json
  package.json
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/__tests__/testUtils.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/search/fuzzySearch.js
  popup/js/search/simpleSearch.js
  popup/js/search/taxonomySearch.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Move star to right-aligned
  popup/css/style.css
  popup/js/view/searchView.js
Due: lint-js, format-files

Fixing review findings
  CHANGELOG.md
  popup/editBookmark.html
  popup/img/star-outline.svg
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Only one star.svg icon + CSS mask
  popup/css/style.css
  popup/img/star-orange.svg
  popup/img/star-red.svg
  popup/img/star-yellow.svg
  popup/img/star.svg
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Easier and more visual favoriting of bookmark with stars (#336)
  CHANGELOG.md
  popup/css/editBookmark.css
  popup/css/options.css
  popup/css/style.css
  popup/editBookmark.html
  popup/img/star.svg
  popup/js/__tests__/initEditBookmark.test.js
  popup/js/initEditBookmark.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/__tests__/searchView.test.js
  popup/js/view/editBookmarkView.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Release v2.2.0
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

Add release dates consistently
  CHANGELOG.md
Due: none

Complete changelog
  CHANGELOG.md
Due: none

Improve documentation
  CONTRIBUTING.md
  README.md
  Tips.md
Due: none

Release v2.2.0 (#338)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  Tips.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

More snapshots
  CHANGELOG.md
  README.md
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/model/bookmarkManagerUndo.js
Due: lint-js, format-files

Preserve bookmark manager favorite scores
  popup/js/__tests__/integration.test.js
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerOperations.test.js
  popup/js/model/bookmarkManagerOperations.js
Due: lint-js

Link from editBookmark to bookmark manager edit
  manifest.json
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/css/editBookmark.css
  popup/editBookmark.html
  popup/js/initBookmarkManager.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/__tests__/editBookmarkView.test.js
  popup/js/view/bookmarkManagerView.js
  popup/js/view/editBookmarkView.js
Due: lint-js, format-files

Fix button style
  popup/css/editBookmark.css
  popup/editBookmark.html
Due: format-files

Consistent footer menu
  popup/css/editBookmark.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/options.html
  popup/tags.html
Due: format-files

Perf testing the bookmark manager
  playwright/tests/performance.spec.js
Due: lint-js

Performance optimize bookmark manager (cap to 500 results)
  playwright/tests/performance.spec.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

Performance optimize tag manager (cap to 500 results)
  playwright/tests/performance.spec.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js

Add bookmark export and only in-memory undo storage
  CHANGELOG.md
  README.md
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkExport.test.js
  popup/js/model/__tests__/bookmarkManagerUndo.test.js
  popup/js/model/bookmarkExport.js
  popup/js/model/bookmarkManagerUndo.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Tests++
  popup/js/model/__tests__/bookmarkExport.test.js
  popup/js/model/bookmarkExport.js
Due: lint-js

Add AI Cleanup section and move undo history into own tab
  .vscode/settings.json
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
  popup/json/change-proposal.schema.json
  popup/json/change-undo.schema.json
Due: lint-js, format-files

Improve undo history summary text
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Minor improvements
  popup/js/initBookmarkManager.js
  popup/js/view/bookmarkManagerView.js
  popup/json/change-proposal.schema.json
Due: lint-js, format-files

Improve promt generation
  popup/bookmarkManager.html
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
  popup/json/change-proposal.schema.json
Due: lint-js, format-files

Improving prompts
  popup/bookmarkManager.html
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Limit prompt to change types and result number (option)
  popup/bookmarkManager.html
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
  popup/json/change-proposal.schema.json
Due: lint-js, format-files

Better snapshot descriptions in undo tab
  popup/css/bookmarkManager.css
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkManagerUndo.test.js
  popup/js/model/bookmarkManagerUndo.js
  popup/js/view/__tests__/bookmarkManagerView.test.js
  popup/js/view/bookmarkManagerView.js
Due: lint-js, format-files

Harden bookmark cleanup apply flow
  popup/js/initBookmarkManager.js
  popup/js/model/__tests__/bookmarkCleanupProposal.test.js
  popup/js/model/bookmarkCleanupProposal.js
Due: lint-js

More transactional snapshots / apply
  popup/js/__tests__/initBookmarkManager.test.js
  popup/js/initBookmarkManager.js
Due: lint-js

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
