Repository Fannon/search-bookmarks-history-and-tabs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, format-files

lint-js:
  run: npx biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format-files:
  run: npx biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

Cleanup
  popup/css/style.css
  popup/css/taxonomy.css
  popup/js/__tests__/integration.test.js
  popup/js/initEditBookmark.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/errorView.js
  popup/options.html
Due: lint-js, format-files

size adjustments
  popup/css/editBookmark.css
  popup/css/taxonomy.css
Due: format-files

Fix taxonomy pages error overlay position and size
  popup/css/editBookmark.css
  popup/css/taxonomy.css
Due: format-files

Fix lint warnings in test files
  popup/js/helper/__tests__/utils.test.js
  popup/js/view/__tests__/groupsView.test.js
Due: lint-js

Fix e2e test fixtures
  playwright/tests/fixtures.js
Due: lint-js

Adding error overlay e2e tests
  playwright/tests/errorOverlay.spec.js
  playwright/tests/fixtures.js
  popup/js/initSearch.js
Due: lint-js

expectNoClientErrors++
  playwright/tests/fixtures.js
Due: lint-js

Add test file header
  playwright/tests/errorOverlay.spec.js
Due: lint-js

Fixing e2e tests
  playwright/tests/fixtures.js
Due: lint-js

feat: Add `skipConsoleErrors` fixture option, apply it to error overlay tests, and simplify bookmark mock installation.
  playwright/tests/editBookmark.spec.js
  playwright/tests/errorOverlay.spec.js
  playwright/tests/fixtures.js
  playwright/tests/options.spec.js
Due: lint-js

file header comment
  playwright/tests/errorOverlay.spec.js
Due: lint-js

Improve error displaying in search view (similar to options) (#313)
  AGENTS.md
  playwright/tests/editBookmark.spec.js
  playwright/tests/errorOverlay.spec.js
  playwright/tests/fixtures.js
  playwright/tests/options.spec.js
  popup/css/editBookmark.css
  popup/css/style.css
  popup/css/taxonomy.css
  popup/editBookmark.html
  popup/folders.html
  popup/groups.html
  popup/index.html
  popup/js/__tests__/integration.test.js
  popup/js/helper/__tests__/utils.test.js
  popup/js/initEditBookmark.js
  popup/js/initSearch.js
  popup/js/search/__tests__/fuzzySearch.test.js
  popup/js/view/__tests__/errorView.test.js
  popup/js/view/__tests__/groupsView.test.js
  popup/js/view/errorView.js
  popup/options.html
  popup/tags.html
Due: lint-js, format-files

Update PR to latest state
  manifest.json
  popup/css/style.css
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

This is somewhat working now
  manifest.json
  popup/css/style.css
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/model/searchData.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Fall back on result item type icons if no favicon can be loaded
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Documentation++
  OPTIONS.md
  README.md
  popup/js/model/options.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Changelog++
  CHANGELOG.md
Due: none

Configuration improvements
  CHANGELOG.md
  OPTIONS.md
  README.md
Due: none

docs++
  OPTIONS.md
Due: none

Fix colors of favicons, make favicon permission optional.
  OPTIONS.md
  manifest.json
  popup/css/style.css
  popup/js/view/editOptionsView.js
Due: lint-js, format-files

Fix default icons not being properly displayed
  OPTIONS.md
  popup/css/style.css
  popup/js/initSearch.js
  popup/js/search/searchEngines.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Fixing lint and test
  biome.json
  popup/js/search/__tests__/common.test.js
  popup/js/view/searchView.js
Due: lint-js, format-files

Add displayIcons (default false) option which only shows default result type icons
  CHANGELOG.md
  OPTIONS.md
  README.md
  popup/js/helper/browserApi.js
  popup/js/model/options.js
  popup/js/search/searchEngines.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Improving changelog / docs
  CHANGELOG.md
  OPTIONS.md
Due: none

test++
  popup/js/search/__tests__/common.test.js
Due: lint-js

Improve readme
  README.md
Due: none

Feature: Display Icons / Favicons for search results (opt-in) (#315)
  CHANGELOG.md
  OPTIONS.md
  README.md
  biome.json
  manifest.json
  popup/css/style.css
  popup/js/helper/browserApi.js
  popup/js/initSearch.js
  popup/js/model/options.js
  popup/js/model/searchData.js
  popup/js/search/searchEngines.js
  popup/js/view/editOptionsView.js
  popup/js/view/searchEvents.js
  popup/js/view/searchView.js
  popup/json/options.schema.json
Due: lint-js, format-files

Release v2.1.0
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: format-files

Update changelog and license date
  CHANGELOG.md
  LICENSE
Due: none

Release v2.1.0 (#316)
  CHANGELOG.md
  LICENSE
  manifest.json
  package-lock.json
  package.json
Due: format-files

Add updated screenshot
  README.md
  images/search-bookmarks-history-and-tabs-screenshots-wide.png
Due: none

Simplify readme first part
  README.md
Due: none

Simplify
  README.md
Due: none

Adjust size estimation
  README.md
Due: none

++
  README.md
Due: none

Add updated screenshot (#317)
  README.md
  images/search-bookmarks-history-and-tabs-screenshots-wide.png
Due: none

Fix screenshot link
  README.md
  images/search-bookmarks-history-and-tabs-1.png
Due: none

Fix screenshot link (#318)
  README.md
  images/search-bookmarks-history-and-tabs-1.png
Due: none

Prepare for a demo recording?
  DEMO_SCRIPT.md
  popup/css/style.css
  popup/index.html
  popup/js/__tests__/initSearch.test.js
  popup/js/initSearch.js
  popup/js/view/errorView.js
  popup/mockData/chrome.json
Due: lint-js, format-files

Path conditions:
  lint-js: any of: *.{js,mjs}
  format-files: any of: *.{css,html,json}
